<!DOCTYPE html>

<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="bootstrap/js/jquery.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<h1>Tasks</h1>


<h2><%= @task.name %></h2>
<p><%= @task.details %></p>



